<!-- Begin Profile Section -->
<section class="section">
    <div class="container">

        <title>{{ profileTitle }}</title>
        
        <!-- section title -->
        <h1 class="title">{{ profileTitle }}</h1>
        <h2 class="subtitle">{{ profileSubTitle }}</h2>
        
        <!-- Profile display name -->
		<div class="field box">
		  <label class="label">{{ profileDisplayName }}</label>
		  <div class="control">
			<input class="input" type="text" placeholder="{{ profileDisplayName }}">
		  </div>
		  <p>30 {{ profileCharRemaining }}</p><!-- temporary placeholder -->
		</div>

        <!-- Profile bio -->
		<div class="field box">
		  <label class="label">{{ profileBio }}</label>
		  <div class="control">
			<textarea class="textarea" placeholder="{{ profileBio }}"></textarea>
		  </div>
		  <p>500 {{ profileCharRemaining }}</p><!-- temporary placeholder -->
		</div>
             
        <!-- Profile Avatar -->
		<div class="box">
		  <label class="label">{{ profileAvatarUpload }}</label>
		<figure class="image is-128x128">
		  <img src="https://bulma.io/images/placeholders/128x128.png">
		</figure>
		<br />
		
		<!-- Avatar upload controls -->
		<div class="file has-name">
		  <label class="file-label">
			<input class="file-input" type="file" name="resume">
			<span class="file-cta">
			  <span class="file-icon">
				<i class="fa fa-upload"></i>
			  </span>
			  <span class="file-label">
				{{ profileAvatarUploadLabel }}
			  </span>
			</span>
			<span class="file-name">
			  {{ profileAvatarFileName }}
			</span>
		  </label>
		</div>
		<p>{{ profileAvatarSubText }}</p>
		</div>
			
        <!-- Profile Header -->
		<div class="box">
		  <label class="label">{{ profileHeaderUpload }}</label>
		<figure class="image is-128x128">
		  <img src="https://bulma.io/images/placeholders/128x128.png">
		</figure>
		<br />
		
		<!-- Header upload controls -->
		<div class="file has-name">
		  <label class="file-label">
			<input class="file-input" type="file" name="resume">
			<span class="file-cta">
			  <span class="file-icon">
				<i class="fa fa-upload"></i>
			  </span>
			  <span class="file-label">
				{{ profileAvatarHeaderLabel }}
			  </span>
			</span>
			<span class="file-name">
			  {{ profileHeaderFileName }}
			</span>
		  </label>
		</div>
		<p>{{ profileHeaderSubText }}</p><!-- temporary placeholder -->
		</div>
                
    </div>
</section>
<!-- End Profile Section -->

